
/* CSS for setting background image */
body {
  background-image: url('../img/backgroundlocation2.jpg'); /* Replace 'background.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  padding-left: 40px;/* Optional: You can change the font family */
  padding-right: 40px;/* Optional: You can change the font family */
}

/* CSS for styling header */
header {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background for header */
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

/* Add more CSS styling for other sections, buttons, etc. as needed */
/* Additional CSS for countdown container and clock */
.countdown-container {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}

.countdown {
    font-size: 24px;
    color: maroon; /* Red lettering */
}
/* styles.css */
.icons {
    display: flex; /* Align icons horizontally */
    justify-content: space-between; /* Add space between icons */
    max-width: 100%; /* Ensure icons don't overflow the container */
}

.search-icon,
.cart-icon {
    margin-right: 40px; /* Adjust the margin between icons */
}
